.page {
  position: absolute;
  margin-left: 50px;
  width: 87vw;
  height: 95vh;
  flex-grow: 1;
  margin-top: 50px;
  display: block;
  left: 30;
  right: 0;
}
.appBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}
.navigationMenu {
}
